html {
	background-color: floralwhite;
}

h1 {
	border-bottom-style: dotted;
	border-color: green;
	border-bottom-width: 24px;
	padding-bottom: 24px;
}

.outer {
	padding-left: 25%;
	padding-right: 25%;
	text-align: center;
	background-color: white;
	background-clip: content-box;
	em {
		color: green;
		font-size: 200%;
	}
	p {
		font-size: 200%;
	}
	h3 {
		font-size: 200%;
	}
}

li {
	text-align: left;
	padding-left: 25%;
	list-style-position: inside;
	font-size: 200%;
	a {
		text-decoration: none;
	}
	a:hover {
		text-decoration: none;
		color: red;
	}
}